cmake-build-*/

*.o
*.a
*.s
*.so
*.so.*
*.exe
*.dll
*.lib

*.log
*.ninja
CMakeCache.txt
CMakeFiles/
.cmake/
_deps/

.ninja_log
.ninja_deps

run/
build/

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Makefile
cmake_install.cmake

.idea*
example/example
Neuron.cbp
